   <div id="contact">
     <% if @user && @user.admin == true %>
         <button>Edit</button>
     <% end %>
        <h2>Contact</h2>
        <table>
                <tr>
                    <td>Phone number 1:</td>
                    <td>0739682514</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><a href="SamuelLiabnonWiki@libanon.se">SamuelLibanonWiki@libanon.se</a></td>
                </tr>
                <tr>
                    <td>Phone number 2:</td>
                    <td>0737154610</td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td><a href="TyrionLiabnonWiki@libanon.se">TyrionLibanonWiki@libanon.se</a></td>
                </tr>
                <tr>
                    <td>Responsible:</td>
                    <td>Mohammed Mahmoud</td>
                </tr>
        </table>
   </div>