<h3>Libanon wiki</h3>
<% if @user && @user.admin == true %>
    <button>Edit</button>
<% end %>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed lacus et enim lacinia aliquam et ut lectus. Nullam augue est, suscipit sit amet dictum bibendum, condimentum eget nulla. Curabitur venenatis nunc vitae enim porttitor, ut porttitor lacus venenatis. Sed id risus et nisi ornare accumsan eget sed nisl. Vivamus elementum consequat est, id gravida lorem mattis in. Pellentesque at erat sed elit tincidunt pretium. Morbi fermentum mauris sit amet auctor rutrum. Praesent posuere ligula a nulla luctus, aliquet varius urna blandit. Nunc turpis nibh, interdum ut dui iaculis, bibendum dictum ante. Nunc vel massa gravida nibh imperdiet efficitur. Vestibulum commodo luctus nunc luctus accumsan.</p>
<img class="preview" src="./img/libanon.jpg" alt="Libanon">
<p>Lorem ipsum dolor sit amet, in nec lorem populo, prompta hendrerit ad quo. Qui te elit clita, vel doming adipisci corrumpit ei, nihil aliquid ne mea. Accumsan dissentias voluptatibus id vim. Sed in partiendo eloquentiam. Ad nec simul veniam efficiendi, ea vix graeci repudiandae. Te sapientem mnesarchum sit.

  Ius ex eius volumus vivendum. Cu tale eruditi per. Eirmod explicari te pro. Ei iudico malorum omittantur est. Et has modus oblique.

  Sed graeci epicurei mediocrem te, doctus delicata assentior quo ne. Vis eirmod prodesset rationibus te. Erant dicam munere ne qui. Usu ex tation scribentur, cu mel habemus gubergren. Mei ne putant admodum, vis at assum elitr pericula. An sit brute veritus, no suavitate ocurreret vix.

  Ne clita eleifend vix, an mazim vitae vel. Ea animal perfecto deseruisse sea, mel id doming habemus, duo eu aperiam detracto. Eu est eros habeo tamquam. Ad eos commune deterruisset, vel et scripta minimum.
</p>

<p>Lorem ipsum dolor sit amet, mel accusamus assentior inciderint ex. Sed ea tota mundi, quis fuisset eam ei, vidit oratio percipitur no qui. Ex pro atqui utinam munere, ut sed ipsum scripta similique. Mea facete graecis instructior ex, feugiat appareat ea duo. Autem temporibus cum ne.

  Ei est tota periculis suscipiantur, no tollit regione deleniti vim, assum ornatus civibus cu eum. Ex sumo duis facilisis nam. Pro alii noster atomorum in. Ex mei posse dolorum. Mel id idque malis placerat. Erat illud sed et, eu recteque pericula ius. Sit dolores adipisci ex.

  His cu quod malorum, pertinax efficiendi scripserit no.</p>

<div class="quick-fact">
<p>Huvudstad
  (Största stad) Beirut
  Officielt språk: Arabiska, franska
  Statsskick: republik
  - President: Tammam Salam
  - Premiärminister Tammam Salam
  Självständighet tidigare NF-mandat
  - Deklarerad 26 november 1941
  - Erkänd 22 november 1943
  Area
  - Totalt 10 452²
  - Vatten område: 1,6%
  Befolkningstäthet 401,5/km²
  BNP (PPP) 2005 års beräkning
  - Totalt	$24 420 miljoner
  - Per capita	$8 100
  Valuta	libanesiskt pund (LBP)
  Tidszon	UTC+2 (sommartid: UTC+3)
  Topografi
  - 	Högsta punkt	Qurnat as Sawda', 3 087 m ö.h.
  - 	Längsta flod	Litani, 140 km
  Nationaldag	22 november
  Nationalitetsmärke	RL
  Landskod	LB, LBN
  Landsnummer	961
</p>
</div>