<form action="/login" method="post">
  <h1 class="register-title login-title">Welcome</h1>
  <input class="mdl-textfield__input text-box" type="text" name="username" placeholder="Username">
  <input class="mdl-textfield__input text-box" type="password" name="password" placeholder="Password">
  <input type="submit">
</form>