<input type="text" id="map-search">
<div id="map"></div>
<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZ8BTOUpV3VH4Wc9psAN-TxkEdaK-O8Sw&libraries=places&callback=initMap"></script>
